.container .header{
    margin: 5px 5px 10px 10px;
    height: 100px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 10px 15px 10px -15px #111;
}

.container .title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}